.text-header-large{
    font-size: 32px;
    color: var(--secondary-color-2);
}

.text-normal{
    font-size: 16px;
}

.text-large{
    font-size: 24px;
}

.font-light{
    font-weight: lighter;
}

.font-normal{
    font-weight: 500;
}

.font-semi-bold{
    font-weight: 600;
}

.font-bold{
    font-weight: bold;
}

.text-center{
    text-align: center;
}

.error{
    color: var(--orange-color-1);
}

.text-underline{
    text-decoration: underline;
    cursor: pointer;
    text-underline-offset: 0.3rem;
    color: var(--secondary-color-2);
}

.text-underline:hover{
    text-underline-offset: 0.5rem;
}