.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.login-row{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    width: 100%;
}

.login-column{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.app-logo{
    height: 20px;
    background-color: var(--primary-color-1);
    border-radius: 100px;
    padding: 14px 20px;
}

.app-logo img{
    height: 100%;
}

.app-logo:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    cursor: pointer;
}

.logo-v2{
    height: 9vw;
    opacity: 0.2;
}

.logo-v2 img{
    height: 100%;
}

.logo-v2:hover{
    opacity: 1;
}

.form{
    align-items: center;
    gap: 24px;
    margin: 32px 0;
}

.container-form{
    background-color: var(--primary-color-1);
    height: max-content;
    width: 90%;
    max-width: 36ch;
    border-radius: 16px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    box-shadow: rgba(0, 0, 0, 0.24) 0 4px 8px;
}

.registration-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

input {
    border: none;
    background: var(--secondary-color-1);
    border-radius: 8px;
    padding: 14px 14px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;

}

.button{
    width: 100%;
    height: 42px;
    border-radius: 36px;
    background: linear-gradient(90deg, var(--secondary-color-2) 0%, rgb(57,57,57) 100%);
    align-items: center;
    transition: all 300ms ease;
    font-size: 20px;
    color: white;
    border: none;
    user-select: none;
    font-family: "Montserrat", sans-serif;
}

.button:hover{
    cursor: pointer;
    background: linear-gradient(90deg, var(--secondary-color-2) 0%, var(--secondary-color-2) 100%);
    box-shadow: 0 1px 1px rgba(0,0,0,0.15), 0 2px 2px rgba(0,0,0,0.15), 0 4px 4px rgba(0,0,0,0.15), 0 8px 8px rgba(0,0,0,0.15);
}

.login-forgot-password{
    width: 100%;
    text-align: end;
    text-decoration: none;
    color: var(--primary-color-2);
}

.login-forgot-password:hover{
    cursor: pointer;
    color: var(--orange-color-1);
}

.mini-cont{
    width: 32px;
    height: 8px;
    border-radius: 50px;
    background-color: var(--orange-color-1);
}

.register-mini-count{
    background-color: var(--green-color-1);
}

.bottom-padding{
    padding-bottom: 12px;
}

.top-padding{
    padding-top: 12px;
}

.rotated-text-bottom{
    writing-mode: vertical-rl;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    text-align: start;
}

.rotated-text-top{
    display: none;
}

.bottom-bar{
    padding-top: 144px;
    align-items: end;
}

.readOnly{
    background-color: var(--grey-color-1);
}

@media screen and (max-width: 720px) {

    .logo-v2{
        display: none;
    }

    .form{
        margin: 108px 0;
    }

    .rotated-text-bottom{
        display: none;
    }

    .rotated-text-top{
        display: flex;
        text-align: center;
    }

    .row-center{
        justify-content: center;
    }

    .bottom-bar{
        flex-direction: column-reverse;
        align-items: center;
        gap: 12px;

    }
}

/* Loader CSS */
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left: 4px solid #3498db;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
