<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ana Sayfa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/home/Home.module.css">
    <link rel="stylesheet" href="../../../src/assets/css/Main.module.css">
    <link rel="stylesheet" href="../../../src/assets/css/Text.module.css">
</head>
<body>
<div class="custom-row mobile-row">
    <div class="banner">
        <div class="custom-row banner-text-and-buttons">
            <div style="display: flex;align-items: center;flex-direction: row">
                <div class="arrow-to-left">
                    <img src="/public/icon/arrow.png" alt="">
                </div>
                <p class="banner-text">Hedeflerine<br/>giden yolda<br/><span class="font-bold">CourseUp<br/>yanında</span><br/><br/><br/><span style="font-size: 18px">Bir kursa kayıt ol<br/>ve yolculuğuna başla</span></p>
            </div>
            <div class="arrow-to-right">
                <img src="/public/icon/arrow.png" alt="">
            </div>
        </div>
        <img class="banner-img" src="/public/img/banner-library.png" alt="">
    </div>
    <div class="ongoing-courses"></div>
</div>

</body>
</html>