.flex-box{
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    width: 100%;
    justify-content: space-between;
}

.basic-category-box{
    width: 300px;
    height: 140px;
    border-radius: 6px;
    padding: 12px;
    background-color: var(--grey-color-1);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.category-button{
    width: 100%;
    border: none;
    background-color: var(--secondary-color-1);
    border-radius: 6px;
    padding: 6px 0;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
}

.category-button:hover{
    background-color: var(--yellow-color-1);
}

@media (max-width: 500px) {
    .basic-category-box{
        width: 100%;
    }
}