.all-courses{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
}

@media (max-width: 480px) {

    .all-courses div{
        width: calc(100% - 12px);
    }
}
