.custom-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.top-and-bottom{
    padding: 24px 0 36px 0;
}

.banner {
    height: 360px;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 32px;
    position: relative;
}

.banner-text-and-buttons {
    gap: 0;
    position: absolute;
    padding: 0 16px;
    width: calc(100% - 32px);
}

.banner-text {
    color: var(--primary-color-1);
    font-size: 24px;
    padding: 14px;
    background: rgba(34, 34, 34, 0.9);
    border-radius: 16px;
    margin-left: 24px;
    user-select: none;
}

.banner-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 32px;
}

.arrow-to-left,
.arrow-to-right {
    background-color: var(--secondary-color-2);
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.arrow-to-right {
    rotate: 180deg;
}

.arrow-to-left img,
.arrow-to-right img {
    height: 60%;
}

.ongoing-courses {
    min-width: 320px;
    height: min-content;
    max-height: 360px;
    background-color: var(--primary-color-1);
    border-radius: 16px;
    overflow-y: auto;
    touch-action: cross-slide-y;
}

.ongoing-courses::-webkit-scrollbar {
    width: 6px;
}
.ongoing-courses::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
}
.ongoing-courses::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color-2);
    cursor: grab;
}

.course-box{
    background-color: var(--secondary-color-1);
    padding: 8px;
    border-radius: 8px;
    margin: 8px 0;
}

.arrow-icon{
    background-color: var(--secondary-color-2);
    border-radius: 50px;
    height: 12px;
    padding: 4px 8px;
    cursor: pointer;
}

.arrow-icon:hover{
    background-color: var(--green-color-1);
    padding: 4px 12px;
}

.opacity-logo{
    height: 48px;
    position: absolute;
    opacity: 0.1;
    bottom: 18px;
    z-index: -1;
}

.is-web{
    height: 360px;
    position: relative;
    display: flex;
    justify-content: center
}

@media (max-width: 744px) {
    .mobile-row{
        flex-direction: column;
    }
    .ongoing-courses{
        width: 100%;
        min-width: auto;
        border-radius: 8px;
    }

    .arrow-to-right ,.arrow-to-left ,.opacity-logo{
        display: none;
    }

    .top-and-bottom{
        padding: 12px 0;
    }

    .banner-text {
        margin-left: 12px;
    }

    .banner ,.banner-img{
        border-radius: 16px;
    }

    .is-web{
        width: 100%;
        height: min-content;
        max-height: 360px;
    }
}

.progress-bar-background {
    width: 50%;
    height: 8px;
    background-color: var(--primary-color-1);
    border-radius: 50px;
    padding: 3px;
    margin: 4px 0;
}

.progress-bar-foreground {
    height: 100%;
    background-color: var(--green-color-1);
    border-radius: 50px;
}
