.add-box{
    background-color: var(--primary-color-1);
    border-radius: 8px;
    padding: 12px;
}

.custom-row{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    gap: 12px;
    width: 100%;
    margin-bottom: 18px;
}

.line-and-section{
     display: flex;
     flex-direction: row;
     height: 100%;
     gap: 12px;
    margin-bottom: 18px;
    margin-top: 9px;
}

.title-and-input{
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-weight: 600;
}

.line{
    width: 4px;
    height: content-box;
    border-radius: 50px;
    background-color: var(--secondary-color-1);
}

.custom-column{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 8px;
    font-weight: 600;
    width: 100%;
}

.mini-dec{
    height: 32px;
    width: 8px;
    background-color: var(--orange-color-1);
    border-radius: 30px;
}

input{
    height: 40px;
    border-radius: 4px;
    font-size: 14px;
}

textarea, select{
    font-family: "Montserrat", sans-serif;
    border-radius: 4px;
    border: none;
    font-size: 14px;
    background-color: var(--secondary-color-1);
}
textarea{
    height: 100%;
    resize: none;
    width: calc(100% - 28px);
    padding: 10px 14px;

}

select{
    height: 40px;
    width: max-content;
    padding: 0 8px;
    cursor: pointer;
    border-right: 8px solid transparent
}

.image-input{
    min-width: 320px;
    min-height: 180px;
    border-radius: 4px;
    background-color: var(--secondary-color-1);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 4px;
}
input[type="file"] {
    display: none;
}

input[type="checkbox"] {
    width: 16px;
    cursor: pointer;
}

.custom-file-upload {
    background-color: var(--secondary-color-2);
    color: var(--secondary-color-1);
    padding: 4px 8px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 12px;
    font-weight: normal;
}

.form-button{
    border-radius: 50px;
    background-color: var(--orange-color-1);
    border: none;
    padding: 6px 16px;
    color: var(--primary-color-1);
    font-size: 15px;
    cursor: pointer;
}

.form-button:hover{
    background-color: var(--green-color-1);
}

.subtitle-button{
    border-radius: 4px;
    background-color: var(--secondary-color-1);
    border: none;
    height: 40px;
    color: var(--secondary-color-2);
    cursor: pointer;
    font-weight: normal;
    display: flex;
    align-items: center;
    padding: 0 8px;
    font-size: 14px;
}

.dropdown-content{
    position: absolute;
    border: 1px solid var(--secondary-color-2);
    z-index: 1;
    background-color: var(--secondary-color-1);
    display: flex;
    flex-direction: column;
    font-weight: normal;
    border-radius: 4px;
    padding: 4px;
}

.dropdown-content label{
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 4px;
    cursor: pointer;
}

.episode-input{
    max-height: 24px;
    overflow-y: auto;
    background-color: var(--secondary-color-1);
    border-radius: 4px;
    padding: 8px;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 4px;
}

.new-episode{
    background-color: var(--secondary-color-1);
    border-radius: 4px;
    cursor: pointer;
    padding: 8px 14px;
    width: max-content;
}

.new-episode:hover{
    background-color: var(--grey-color-1);
}

.remove-icon{
    height: 12px;
    cursor: pointer;
    margin-top: 4px;
}

@media (max-width: 744px) {
    .custom-row{
        flex-direction: column;
    }

    .title-and-input{
        width: 100%;
    }

    .image-input{
        min-width: 284px;
        min-height: 160px;
    }
}
