.custom-row{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    width: 100%;
}

.custom-column{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.courses-box{
    width: 100%;
    justify-content: center;
    min-width: 320px;
    height: min-content;
    background-color: var(--primary-color-1);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.course-container{
    background-color: var(--secondary-color-1);
    padding: 8px;
    border-radius: 8px;
    min-height: 220px;
    width: 312px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 6px;
}

.course-grid {
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.mini-decoration{
    width: 36px;
    height: 10px;
    border-radius: 50px;
    background-color: var(--yellow-color-1);
    margin-left: 8px;
}

.course-img{
    width: 100%;
    height: 152px;
    max-height: 152px;
    object-fit: cover;
    border-radius: 6px 6px 0 0;
}

.remove-button{
    width: 100%;
    border: 1px solid var(--secondary-color-1);
    margin-top: 4px;
    border-radius: 6px;
    padding: 8px 0;
    cursor: pointer;
}

.remove-button:hover{
    border-radius: 3px;
    border: 1px solid var(--secondary-color-2);
}
.comments-box{
    width: 100%;
    min-height: max-content;
    background-color: var(--secondary-color-1);
    padding: 8px;
    border-radius: 4px;
}
@media (max-width: 460px) {
    .course-container{
        width: 100%;
    }
}